@import "tailwindcss";
@plugin "daisyui" {
  /* themes: bumblebee --default; */
  themes: all;
}

#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 0rem;
  text-align: left;
}

/* Page Headers */
h1 {
  font-size: 2rem;
  font-weight: bold;
}

/* Domain Names in Modal */
h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Context for h2, e.g. overall score in modal */
.text-subheader {
  font-size: 1rem;
  color: #888;
}

/* Individual score names in modal */
h3 {
  font-size: 1rem;
  font-weight: 700;
}

/* Context for h3, e.g. score explanation in modal */
.text-description {
  font-size: 0.75rem;
  color: #555;
}
