@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-primary: oklch(0.49 0.1992 302.85);
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-primary: oklch(0.49 0.1992 302.85);
}
/* Source: https://daisyui.com/theme-generator/#theme=eJxtlOtu4yAQhV8FWarUlRoEw8XQtyE2bqw6JgJHvaz23RfjNoHgf4H5zpkbzt9mNmfbvDbT-HZampemc5Pzh9CdbHF9OGyBown2QAmJIfc-dafn-PsJEUT-PEKQQVrtMyxnxD7TuXmx83LjgEYOEyIRKIGVErni4sez8V83mGCuI021BsQI4F26SqFZSsE4ghZwq1QuCjbifZ5ErpVj4BQxwTEj-3idhacsoBDjgEEUMtN1Odu2K0sFIKoo1hRqtvJnKvlLFjUKcypzzWyvizfTfY1bMURsUwW2A9cdwCaKc1ISs6KocR7cvfzkTuPKGGAp6SNYL1lvtUcFZ7HvthjpNTYcwt1dJve2RVQyDGXtP3A9nTRRkkQKa55rPoyfx_ntxqrUJ1UaKY456B228ufpmVIKiAusSeFvvXf-Xv5Gao4oi-6qIuvpbK8hLosCJr-1e9OP1xAf3GS7JfkTLLw958FhtFOfIvAYOrrPUhLGb1u6QRnbMzs639uVppfPdNHby3Jaz-k0uzGsfysknno7mOsUuxrMFOxLc_F2sD7Eb-X95-7ff9G3T0M */
/* This is just the Light colour scheme with a different --color-primary */

#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 0rem;
  text-align: left;
}

/* Page Headers */
h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
}

@media (max-width: 640px) {
  h1 {
    font-size: 1.4rem;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.2rem;
  }
}

/* Domain Names in Modal */
h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Context for h2, e.g. overall score in modal */
.text-subheader {
  font-size: 1rem;
  color: #888;
}

/* Individual score names in modal */
h3 {
  font-size: 1rem;
  font-weight: 700;
}

/* Context for h3, e.g. score explanation in modal */
.text-description {
  font-size: 0.75rem;
  color: #555;
}

/* Link styling only applies within text-about */
.text-about a {
  color: #155dfc;
  text-decoration: none;
}

.text-about a:hover {
  text-decoration: underline;
}

/* Disable modal animations. I think they're inherited from daisyui? As of 2025-04-24 they were bouncing terribly on mobile when loading. */
.modal {
  animation: none !important;
  transition: none !important;
}

.modal-box {
  animation: none !important;
  transition: none !important;
}
