@import "tailwindcss";
@plugin "daisyui" {
  /* themes: bumblebee --default; */
  themes: all;
}

#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 0rem;
  text-align: left;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
}
